{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/sign.css' %}">
</head>
<body>
    <div class="form">
  <div class="thumbnail"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg"/></div>
  <form class="login-form" method="POST">
      {% csrf_token %}
      <label>
          <input type="text" name="username" placeholder="username..."/>
      </label>
      <label>
          <input type="password" name="password" placeholder="password..."/>
      </label>
      <input type="submit" value="Login">
    <p class="message">Not registered? <a href="{% url 'register' %}">Create an account</a></p>
  </form>
</div>
</body>
</html>